

<div ng-if="mmm" style="text-align:center; color:forestgreen; background-color:aliceblue;">
    <h1>{{BrideName}} and {{BridegroomName}} are Married. </h1>
</div>

<div ng-if="mmm" style="border:1px solid; border-color:#0094ff; background-color:aliceblue; text-align:center;">
    
    <label >Bride Name : {{BrideName}}</label><br />
    <label >Bride NID : {{BrideNID}}</label><br />
    <label >Bridegroom Name : {{BridegroomName}}</label><br />
    <label >Bridegroom NID : {{BridegroomNID}}</label><br />
  
  
</div>

